<div class="cloud-services-wrapper">
   
    <div class="cloud-service-bg">
        <div class="cloud-service-caption">
            <h2>Cloud Service</h2>
            <span></span>
        </div>
        <span class="cloud-service-bg-cover"></span>
    </div>
    
    <div class="cloud-service-banner">
        <h2>We Offer Cloud Services In The </h2>
    </div>
    
    
    <div class="cloud-services-container clearfix">
        
        <div class="cloud-service">
            <div class="cloud-service-img">
                <img src="public/img/500px-AWS.png" alt="">
            </div>
            <div class="cloud-service-cap">
                <h3>Amazone Web Service</h3>
                <a href="">Learn More</a>
            </div>
        </div>
        
        <div class="cloud-service">
            <div class="cloud-service-img">
                <img src="public/img/Microsoft%20New%20Logo.png" alt="">
            </div>
            <div class="cloud-service-cap">
                <h3>Microsoft Azure</h3>
                <a href="">Learn More</a>
            </div>
        </div>
        
        <div class="cloud-service">
            <div class="cloud-service-img">
                <img src="public/img/vmware.png" alt="">
            </div>
            <div class="cloud-service-cap">
                <h3>Microsoft Azure</h3>
                <a href="">Learn More</a>
            </div>
        </div>
        
    </div>

</div>