<div class="enroll-cousrse-wrapper animated bounceInDown">
    <div class="enroll-course-header">
        <a ui-sref="root">
            <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1500519531/virginnfieldslogo_r17cbg.png"/>
            <span>Virgin Fields</span>
        </a>
        <h2>Enroll In Our Training Programs</h2>
        <p>Please Fill Out The Form Bellow And We Will Get Back To You</p>
    </div>
    <div class="enroll-course-form">
        <form name="enrollForm" id="enrollForm" ng-submit="sendRequest()" novalidate>
           
            <div class="field-wrap">
                <input type="text" ng-model="customer.firstname" name="firstname" placeholder="First Name" required/>
                
                <span class="incomplete" ng-show="enrollForm.firstname.$invalid && !enrollForm.firstname.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> First Name is required</span>
                
                <span class="complete" ng-show="enrollForm.firstname.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
            </div>
            <div class="field-wrap">
                <input type="text" name="lastname" ng-model="customer.lastname" placeholder="Last Name" required/>
                
                <span class="incomplete" ng-show="enrollForm.lastname.$invalid && !enrollForm.lastname.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Last Name is required</span>
                
                <span class="complete" ng-show="enrollForm.lastname.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
            </div>
            <div class="field-wrap">
                <input type="text" name="company" ng-model="customer.company" placeholder="Company" required/>
                
                <span class="incomplete" ng-show="enrollForm.company.$invalid && !enrollForm.company.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Company Name is required</span>
                
                <span class="complete" ng-show="enrollForm.company.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
            </div>
            <div class="field-wrap">
                <h4>Select Coutry</h4>
                <select ng-model="customer.country" name="country" ng-options="x for x in countries" required></select>
                
                <span class="incomplete" ng-show="enrollForm.country.$invalid && !enrollForm.country.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Country is required</span>
                
                <span class="complete" ng-show="enrollForm.country.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
                
            </div>
            <div class="field-wrap">
                <input type="email" name="email" ng-model="customer.email" placeholder="Email" required />
                
                <span class="incomplete" ng-show="enrollForm.email.$invalid && !enrollForm.email.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is required</span>
                
                <span class="complete" ng-show="enrollForm.email.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
            </div>
            <div class="field-wrap">
                <input type="text" name="contact" ng-model="customer.contact" placeholder="Contact Number" required/>
                
                <span class="incomplete" ng-show="enrollForm.contact.$invalid && !enrollForm.contact.$pristine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Contact is required</span>
                
                <span class="complete" ng-show="enrollForm.contact.$valid"><i class="fa fa-check-circle" aria-hidden="true"></i> Complete</span>
            </div>
            <div class="field-wrap">
                <button type="submit" ng-disabled="enrollForm.$invalid"> <span ng-show="enrollForm.$valid" ng-hide="enrollForm.$invalid">Submit Resquest</span> <span ng-show"enrollForm.$invalid" ng-hide="enrollForm.$valid">Fill Out Form</span></button>
            </div>
            
            
        </form>
    </div>
</div>









