<div class="products-listings-wrapper" ng-show="loader==false">
    <div class="products-listings-bg" style="background-image: url({{data.bg}})">
        <div class="products-listings-capt">
            <h2>{{data.name}}</h2>
            <p>For more information please contact us.</p>
            <a href="#/contact">Contact Us</a>
        </div>
    </div>
    
    <div class="products-listings-container">
       
        <div class="products-listing clearfix" ng-repeat="product in data.products">
           
            <div class="products-listing-left">
                <div class="products-listing-left-content">
                    <h2>{{product.title}}</h2>
                    <p>{{product.desc}}</p>
                </div>
            </div>
            <div class="products-listing-right">
                <div class="products-listing-img">
                    <img ng-src="{{product.image}}" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>


<div class="loader" ng-show="loader==true" ng-include src="'directiveTemplates/loader.html'">
    
</div>



