<div class="solutions-page-wrapper">
    <div class="solutions-page-header">
        <h2>Browse Solutions By Category</h2>
        <p>In virgin Fields We Deliver The Following Solutions To Customers Across The Globe. <br> Contact Us For More Information.. <a href="">Contact Us</a></p>
    </div>
    <div class="solutions-page-body">
        
        <div class="loader" ng-show="loader==true" ng-include src="'directiveTemplates/loader.html'">
        </div> 
        
        <div class="solutions-category-wrapper clearfix" ng-show="loader==false">
               
               
                <figure ng-repeat="solution in solutionData" class="solutions-category">
                  <img ng-src="{{solution.img}}" />
                  <figcaption>
                    <h3>{{solution.header}}</h3>
                    <p>Learn more</p>
                  </figcaption>
                  <a href="#/{{solution.route}}"></a>
                </figure>
                
        </div>
        
    </div>
</div>