@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column;
  color: #333; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
.activeSstate {
  color: #2EA9CD !important; }

.page-padding-wrap {
  padding: 10px; }

.navBar {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000; }
  .navBar .nav-settings-menu {
    float: right;
    margin-right: 2%;
    display: none; }
    .navBar .nav-settings-menu a {
      text-decoration: none;
      color: #fff;
      margin-right: 10px; }
      .navBar .nav-settings-menu a:hover {
        color: #2EA9CD; }
      .navBar .nav-settings-menu a i {
        font-size: 20px; }
  .navBar .nav-aside-menu {
    float: left; }
    .navBar .nav-aside-menu #menuBar {
      display: none; }
    .navBar .nav-aside-menu #menuBarClose {
      display: none; }
    .navBar .nav-aside-menu a {
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      line-height: 29px;
      padding: 0 10px; }
  .navBar .nav-links {
    float: right;
    margin-right: 2%; }
    .navBar .nav-links ul {
      margin: 0;
      padding: 0; }
      .navBar .nav-links ul li {
        list-style: none;
        display: inline-block; }
        .navBar .nav-links ul li a {
          text-decoration: none;
          color: #fff;
          margin: 0 10px;
          font-size: 14px; }
          .navBar .nav-links ul li a:hover {
            color: #2EA9CD; }
  .navBar .nav-logo-head {
    float: left;
    display: none; }
    .navBar .nav-logo-head a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      margin-left: 10px;
      font-size: 19px; }

.sidebar-container {
  width: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: left;
  position: fixed;
  background-color: #373737;
  text-align: center;
  z-index: 100000; }
  .sidebar-container .sidebar {
    padding: 20px 0; }
    .sidebar-container .sidebar ul {
      margin: 0;
      padding: 0; }
      .sidebar-container .sidebar ul li {
        list-style: none; }
        .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
          text-decoration: none;
          color: #fff;
          display: block;
          padding: 10px;
          font-size: 14px; }
          .sidebar-container .sidebar ul li .slide-link:hover, .sidebar-container .sidebar ul li .responsive-slide-link:hover {
            color: #2EA9CD; }
          .sidebar-container .sidebar ul li .slide-link i, .sidebar-container .sidebar ul li .responsive-slide-link i {
            display: block;
            padding-bottom: 10px;
            font-size: 23px; }
        .sidebar-container .sidebar ul li .responsive-slide-link {
          display: none; }
          .sidebar-container .sidebar ul li .responsive-slide-link i {
            display: block;
            padding-bottom: 10px;
            font-size: 23px; }
        .sidebar-container .sidebar ul li .nav-arrowRight {
          float: right; }
        .sidebar-container .sidebar ul li .close-slideBar {
          text-decoration: none;
          color: #fff;
          display: block;
          padding: 10px;
          font-size: 14px;
          background-color: #212121;
          display: none; }
          .sidebar-container .sidebar ul li .close-slideBar i {
            display: block;
            padding-bottom: 10px;
            font-size: 30px; }

.slide-bar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #141414;
  color: #fff;
  z-index: 10000;
  display: none;
  padding: 3% 3% 3% 13%;
  overflow: scroll; }
  .slide-bar-wrapper .sidebar-head {
    margin-bottom: 30px; }
    .slide-bar-wrapper .sidebar-head a {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 18px;
      color: #fff;
      text-decoration: none; }
      .slide-bar-wrapper .sidebar-head a:hover {
        color: #2EA9CD; }
      .slide-bar-wrapper .sidebar-head a i {
        font-weight: 800; }
  .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links {
    width: 23%;
    min-height: 200px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%; }
    .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links h4 {
      font-weight: 400;
      font-size: 20px; }
      .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links h4 a {
        text-decoration: none;
        color: #fff; }
        .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links h4 a:hover {
          color: #2EA9CD; }
    .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links a {
      color: #fff;
      text-decoration: none; }
      .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links a p {
        font-size: 13px;
        font-weight: 300;
        color: #bbb; }
      .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links a span {
        color: #2EA9CD; }
      .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links a:hover {
        text-decoration: underline; }
  .slide-bar-wrapper .view-all a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #2EA9CD;
    line-height: 40px;
    border-radius: 3px;
    margin: 20px 0;
    font-size: 15px; }
    .slide-bar-wrapper .view-all a:hover {
      background-color: #1B96BA; }

.current {
  display: block !important; }

.current2 {
  display: block !important; }

.close-responsiveTab {
  display: none; }

#View {
  padding: 41px 0px 0px 10%;
  flex: 1 0 auto; }

#footer {
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #373737; }
  #footer .footer-wrapper {
    border-bottom: 5px solid #2EA9CD; }
    #footer .footer-wrapper .footer-content {
      width: 40%;
      float: left;
      padding: 20px; }
      #footer .footer-wrapper .footer-content h3 {
        color: #2EA9CD;
        font-size: 17px;
        margin-bottom: 20px;
        font-weight: 500; }
      #footer .footer-wrapper .footer-content .footer-navs ul li {
        list-style: none;
        display: inline-block; }
        #footer .footer-wrapper .footer-content .footer-navs ul li a {
          text-decoration: none;
          padding: 8px 4px;
          color: #fff;
          font-weight: 300;
          font-size: 16px;
          display: inline-block; }
          #footer .footer-wrapper .footer-content .footer-navs ul li a:hover {
            color: #2EA9CD; }
      #footer .footer-wrapper .footer-content .social-media-icons ul li {
        list-style: none;
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 8px 8px 0px; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li a {
          text-decoration: none;
          color: #fff;
          height: 40px;
          width: 40px;
          background-color: black;
          display: inline-block;
          vertical-align: 90px;
          border-radius: 50%;
          transition: 0.5s; }
          #footer .footer-wrapper .footer-content .social-media-icons ul li a i {
            display: block;
            text-align: center;
            line-height: 40px; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #facebook-icon:hover {
          background-color: #3b5998; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #twitter-icon:hover {
          background-color: #1b95e0; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #linkedin-icon:hover {
          background-color: #283e4a; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #google-icon:hover {
          background-color: #d34836; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #youtube-icon:hover {
          background-color: #c4302b; }
  #footer .footer-bottom {
    padding: 20px; }
    #footer .footer-bottom .company-logo h2 {
      margin-bottom: 20px; }
      #footer .footer-bottom .company-logo h2 a {
        text-decoration: none;
        color: #fff; }
    #footer .footer-bottom .company-logo p {
      color: #2EA9CD;
      font-weight: 400;
      font-size: 14px; }

.loader {
  position: relative;
  margin: 100px 0; }

@keyframes _spinner {
  to {
    transform: rotate(-1440deg); } }
/**
 * 1. Once the animation has run in one direction, go back again.
 */
.c-spinner {
  position: relative;
  width: 60px;
  height: 60px;
  /**
   * Dots are just little white circles. They start life in the very centre of
   * their host spinner[1].
   */
  animation: 2s _spinner ease-in-out infinite alternate;
  /* [1] */ }
  .c-spinner > span {
    position: absolute;
    /* [1] */
    top: 50%;
    /* [1] */
    left: 50%;
    /* [1] */
    margin-top: -10px;
    /* [1] */
    margin-left: -10px;
    /* [1] */
    width: 20px;
    height: 20px;
    background-color: #2EA9CD;
    border-radius: 100%;
    /**
     * Distribute dots by moving them to the edge of their parent circle and
     * rotating them by the correct proportion.
     */
    /**
     * Distribute dots by moving them to the edge of their parent circle and
     * rotating them by the correct proportion.
     */
    /**
     * Distribute dots by moving them to the edge of their parent circle and
     * rotating them by the correct proportion.
     */ }
    .c-spinner > span:nth-of-type(1) {
      transform: rotate(0deg) translate(30px); }
    .c-spinner > span:nth-of-type(2) {
      transform: rotate(120deg) translate(30px); }
    .c-spinner > span:nth-of-type(3) {
      transform: rotate(240deg) translate(30px); }

/**
 * Visually hide the ‘Loading…’ text.
 */
.c-spinner__text {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

#homeCarousel .carousel {
  background: #EEE; }
  #homeCarousel .carousel .carousel-cell {
    width: 100%;
    height: 500px;
    margin-right: 10px;
    background: #000; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-img {
      width: 100%;
      height: 100%;
      opacity: .7; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-img img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption {
      position: absolute;
      top: 10%;
      padding: 20px 20px 20px 100px;
      color: #fff;
      width: 100%; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
        font-size: 16px;
        margin-bottom: 15px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption a {
        text-decoration: none;
        color: #fff;
        background-color: #2EA9CD;
        padding: 8px 20px;
        border-radius: 3px;
        font-size: 13px;
        display: inline-block;
        cursor: pointer; }
        #homeCarousel .carousel .carousel-cell .home-carouesl-caption a:hover {
          background-color: #1B96BA; }

#homeParalaxWrap {
  height: 500px;
  text-align: center;
  color: #fff;
  border-top: 7px solid #1B96BA; }
  #homeParalaxWrap #homeParalaxImage {
    background-image: url(http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961655/ml_pictogram_lvzd5u.png);
    background-color: #1B96BA;
    background-blend-mode: multiply;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 95px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption {
      padding: 70px 0; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
        font-size: 35px;
        font-weight: 700; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      color: #fff;
      text-decoration: none;
      background-color: #2EA9CD;
      padding: 8px 32px;
      font-size: 14px;
      border-radius: 2px; }

.trainingCapt {
  display: none; }

.currentTraining {
  display: block; }

#topAddsWrap {
  padding: 0 10px 70px; }
  #topAddsWrap #topAddsHead {
    padding: 20px 0; }
    #topAddsWrap #topAddsHead h4 {
      font-size: 25px;
      font-weight: 500; }
  #topAddsWrap .carousel {
    background: #FAFAFA; }
    #topAddsWrap .carousel .carousel-cell {
      width: 40%;
      height: 300px;
      margin-right: 10px;
      background: #1B96BA;
      border-radius: 5px; }
      #topAddsWrap .carousel .carousel-cell .carouselCourseImage {
        width: 100%;
        height: 100%; }
        #topAddsWrap .carousel .carousel-cell .carouselCourseImage img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: fill; }
      #topAddsWrap .carousel .carousel-cell .carouselAnchor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }

.training-page-container .training-page-bg {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #81807F;
  background-image: url(http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961650/shutterstock_175625024_oxqzg0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: 100% 100%; }
  .training-page-container .training-page-bg .training-page-caption h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 400px; }
.training-page-container .trainings-wrapper {
  padding: 20px 0; }
  .training-page-container .trainings-wrapper h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 400; }
  .training-page-container .trainings-wrapper .training-container .training {
    background-color: #202020;
    width: 32%;
    float: left;
    min-height: 300px;
    margin: 1% 0 1% 1%;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08); }
    .training-page-container .trainings-wrapper .training-container .training .training-caption {
      padding: 40px; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption p {
        font-size: 14px;
        color: #959595; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption a {
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        background-color: #2EA9CD;
        line-height: 40px;
        border-radius: 2px;
        margin: 20px 0;
        font-size: 14px; }
        .training-page-container .trainings-wrapper .training-container .training .training-caption a:hover {
          background-color: #1B96BA; }

.training-detail-wrap .training-details-bg {
  width: 100%;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  border-top: 8px solid #2EA9CD; }
  .training-detail-wrap .training-details-bg .training-details-caption {
    padding: 10px 10px 10px 50px;
    text-align: left;
    color: #fff; }
    .training-detail-wrap .training-details-bg .training-details-caption h2 {
      font-size: 20px;
      font-weight: 600; }
    .training-detail-wrap .training-details-bg .training-details-caption a {
      text-decoration: none;
      text-align: center;
      display: block;
      width: 150px;
      height: 35px;
      color: #fff;
      background-color: #2EA9CD;
      line-height: 35px;
      border-radius: 2px;
      margin: 10px 0;
      font-size: 14px; }
      .training-detail-wrap .training-details-bg .training-details-caption a:hover {
        background-color: #1B96BA; }
.training-detail-wrap .training-details {
  padding: 140px 50px 50px 50px; }
  .training-detail-wrap .training-details h3 {
    font-size: 20px;
    font-weight: 600; }
  .training-detail-wrap .training-details p {
    font-weight: 300; }
  .training-detail-wrap .training-details .training-header {
    display: none; }
  .training-detail-wrap .training-details .course {
    margin: 20px 0; }
  .training-detail-wrap .training-details .training-intro {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1); }
  .training-detail-wrap .training-details .training-objectives ul li {
    list-style: none;
    margin: 5px 0;
    color: #000;
    border-radius: 1px;
    transition: 0.5s; }
    .training-detail-wrap .training-details .training-objectives ul li i {
      color: #2EA9CD;
      padding-right: 5px; }
  .training-detail-wrap .training-details .training-section .course-section h4 {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500; }
    .training-detail-wrap .training-details .training-section .course-section h4 i {
      color: #2EA9CD;
      padding-right: 5px; }
  .training-detail-wrap .training-details .training-section .course-section ul li {
    border-radius: 1px;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 8px 15px; }
    .training-detail-wrap .training-details .training-section .course-section ul li i {
      color: #000;
      padding-right: 5px; }

.enroll-cousrse-wrapper {
  width: 45%;
  margin: 40px auto; }
  .enroll-cousrse-wrapper .enroll-course-header {
    margin-bottom: 20px; }
    .enroll-cousrse-wrapper .enroll-course-header a {
      text-decoration: none; }
      .enroll-cousrse-wrapper .enroll-course-header a img {
        width: 120px;
        height: 80px; }
      .enroll-cousrse-wrapper .enroll-course-header a span {
        font-size: 24px;
        font-weight: 500;
        color: #2EA9CD; }
    .enroll-cousrse-wrapper .enroll-course-header h2 {
      font-size: 32px;
      font-weight: 600;
      margin: 30px auto; }
    .enroll-cousrse-wrapper .enroll-course-header p {
      font-size: 15px; }
  .enroll-cousrse-wrapper .enroll-course-form .field-wrap {
    margin: 20px 0; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap input {
      width: 100%;
      height: 35px;
      padding: 4px 8px;
      font-size: 14px;
      border-radius: 2px;
      border: 1px solid #ccc;
      outline: none; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap select {
      width: 40%;
      height: 30px; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap span {
      font-size: 13px;
      margin: 5px; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap .incomplete {
      color: #f00; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap .complete {
      color: green; }
    .enroll-cousrse-wrapper .enroll-course-form .field-wrap button {
      width: 100%;
      height: 40px;
      background-color: #2EA9CD;
      border: 0;
      outline: 0;
      color: #fff;
      border-radius: 2px; }
      .enroll-cousrse-wrapper .enroll-course-form .field-wrap button:hover {
        background-color: #1B96BA; }
      .enroll-cousrse-wrapper .enroll-course-form .field-wrap button span {
        font-size: 16px; }

.solutions-page-wrapper {
  padding: 40px; }
  .solutions-page-wrapper .solutions-page-header {
    padding: 11px; }
    .solutions-page-wrapper .solutions-page-header h2 {
      font-size: 35px;
      font-weight: 500; }
    .solutions-page-wrapper .solutions-page-header p {
      font-size: 15px; }
  .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category {
    width: 31%;
    height: 300px;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    border: 6px solid #2EA9CD;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    float: left;
    margin: 10px 1%; }
    .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category img {
      width: 100%;
      height: 100%;
      vertical-align: top;
      opacity: 0.5;
      object-fit: cover; }
    .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption {
      position: absolute;
      width: 100%;
      top: 40%;
      text-align: center;
      color: #fff;
      padding: 0px 10px; }
      .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption h3 {
        font-weight: 700;
        font-size: 27px; }
    .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }

.solutions-details-wrapper .solutions-details-header {
  width: 100%;
  min-height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  border-top: 8px solid #2EA9CD;
  padding: 10px 40px; }
  .solutions-details-wrapper .solutions-details-header h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 500; }
  .solutions-details-wrapper .solutions-details-header a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #2EA9CD;
    line-height: 30px;
    border-radius: 2px;
    margin: 10px 0;
    font-size: 13px; }
    .solutions-details-wrapper .solutions-details-header a:hover {
      background-color: #1B96BA; }
.solutions-details-wrapper .solutions-details-body {
  padding: 116px 0 0 0px; }
  .solutions-details-wrapper .solutions-details-body .solutions-bg {
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A3A3A3;
    background-blend-mode: multiply;
    background-position: 100% 100%;
    text-align: center; }
    .solutions-details-wrapper .solutions-details-body .solutions-bg h2 {
      line-height: 450px;
      font-size: 60px;
      font-weight: 700;
      color: #fff; }
  .solutions-details-wrapper .solutions-details-body .solEmpty h1 {
    text-align: center;
    margin: 100px auto;
    font-weight: 400;
    font-size: 50px; }
  .solutions-details-wrapper .solutions-details-body .overview {
    background-color: #1D98BC;
    padding: 20px 40px;
    color: #fff; }
  .solutions-details-wrapper .solutions-details-body .verticals {
    margin: 30px auto;
    padding: 0 40px; }
  .solutions-details-wrapper .solutions-details-body .solution-content-wrap .solution-content-header h3 {
    font-size: 25px;
    font-weight: 600; }
  .solutions-details-wrapper .solutions-details-body .solution-content-wrap .solution-content-writeup {
    margin: 10px 0; }
    .solutions-details-wrapper .solutions-details-body .solution-content-wrap .solution-content-writeup p {
      font-size: 15px; }
    .solutions-details-wrapper .solutions-details-body .solution-content-wrap .solution-content-writeup ul li {
      list-style: none;
      margin: 10px auto; }
      .solutions-details-wrapper .solutions-details-body .solution-content-wrap .solution-content-writeup ul li i {
        color: #2EA9CD; }

#contactus-wrapper {
  padding: 40px; }
  #contactus-wrapper h4 {
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px; }
  #contactus-wrapper #contactus-header {
    text-align: center; }
    #contactus-wrapper #contactus-header h2 {
      font-size: 40px;
      margin-bottom: 0;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-weight: 400; }
  #contactus-wrapper #contactus-left {
    width: 35%;
    float: left;
    margin-left: 5%; }
    #contactus-wrapper #contactus-left .contactus_form_grup {
      margin-bottom: 10px; }
      #contactus-wrapper #contactus-left .contactus_form_grup .contactus_input {
        width: 100%;
        padding: 8px 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        background-color: #eee;
        border-radius: 4px;
        outline: none;
        margin-top: 4px; }
        #contactus-wrapper #contactus-left .contactus_form_grup .contactus_input:focus {
          box-shadow: 1px 1px 10px 5px rgba(160, 160, 160, 0.53); }
      #contactus-wrapper #contactus-left .contactus_form_grup .contactus_error {
        font-size: 13px;
        color: #000; }
      #contactus-wrapper #contactus-left .contactus_form_grup #contactus_mgs {
        width: 100%;
        height: 200px;
        padding: 8px 10px;
        border: 1px solid #ccc;
        background-color: #eee;
        border-radius: 4px;
        font-size: 15px;
        outline: none;
        margin-top: 3px;
        font-family: "Titillium Web"; }
      #contactus-wrapper #contactus-left .contactus_form_grup #contact_us_submit {
        width: 110px;
        height: 35px;
        border-radius: 3px;
        line-height: 35px;
        font-size: 15px;
        outline: none;
        border: none;
        background-color: #2EA9CD;
        color: #fff;
        margin: 10px 0; }
        #contactus-wrapper #contactus-left .contactus_form_grup #contact_us_submit:hover {
          background-color: #1B96BA; }
  #contactus-wrapper #contactus-right {
    width: 40%;
    float: left;
    margin-left: 15%;
    text-align: left; }
    #contactus-wrapper #contactus-right #contactus_call p {
      margin: 5px 0; }
      #contactus-wrapper #contactus-right #contactus_call p i {
        font-size: 35px;
        padding-right: 10px; }
      #contactus-wrapper #contactus-right #contactus_call p a {
        text-decoration: none;
        color: #2EA9CD;
        font-size: 16px;
        vertical-align: 6px; }

@media screen and (max-width: 1025px) {
  .sidebar-container {
    width: 12%; }
    .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
      font-size: 12px; }
      .sidebar-container .sidebar ul li .slide-link i, .sidebar-container .sidebar ul li .responsive-slide-link i {
        font-size: 18px; }

  .slide-bar-wrapper {
    padding: 3% 3% 3% 15%; }

  #View {
    padding: 41px 0px 0px 12%; } }
@media screen and (max-width: 850px) {
  .navBar .nav-logo-head {
    display: block; }
    .navBar .nav-logo-head a {
      font-size: 18px; }
  .navBar .nav-aside-menu a i {
    font-size: 29px; }
  .navBar .nav-aside-menu #menuBar {
    display: inline-block; }
  .navBar .nav-aside-menu #menuBar i {
    font-size: 30px; }
  .navBar .nav-settings-menu {
    display: block; }
    .navBar .nav-settings-menu a i {
      font-size: 24px; }
    .navBar .nav-settings-menu #settingsMenu {
      display: block; }
    .navBar .nav-settings-menu #settingsMenuClose {
      display: none; }
  .navBar .nav-links {
    background-color: #fff;
    position: absolute;
    right: 5px;
    top: 50.25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 10px;
    display: none; }
    .navBar .nav-links ul li {
      display: block; }
      .navBar .nav-links ul li a {
        color: #000; }

  .sidebar-container {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    bottom: inherit;
    margin-top: 47px;
    z-index: 3000;
    display: none; }
    .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
      display: none; }
    .sidebar-container .sidebar ul li .responsive-slide-link {
      display: block;
      font-size: 14px; }
      .sidebar-container .sidebar ul li .responsive-slide-link i {
        display: inline-block;
        padding-right: 10px;
        font-size: 16px; }

  .slide-bar-wrapper {
    padding: 3% 4%; }
    .slide-bar-wrapper .slide-bar-content .sidebar-head .close-responsiveTab {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px; }
      .slide-bar-wrapper .slide-bar-content .sidebar-head .close-responsiveTab i {
        font-size: 30px; }
    .slide-bar-wrapper .slide-bar-content .slidebar-link-wrapper .sidebar-links {
      float: none;
      width: 100%;
      min-height: 100px; }

  .current3 {
    display: block; }

  #View {
    padding-left: 0; }

  #homeCarousel .carousel .carousel-cell {
    height: 400px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
      font-size: 21px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
      font-size: 14px; }

  #homeParalaxWrap {
    height: 400px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 75px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        font-size: 18px;
        font-weight: 500; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
      font-size: 16px; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      padding: 7px 18px;
      font-size: 11px; }

  #topAddsWrap .carousel .carousel-cell {
    width: 60%; }

  #footer {
    padding-left: 0; }
    #footer .footer-wrapper .footer-content {
      width: 50%; }

  #contactus-wrapper {
    padding: 20px 10px; }
    #contactus-wrapper h4 {
      font-size: 25px; }
    #contactus-wrapper #contactus-header h2 {
      font-size: 30px; }
    #contactus-wrapper #contactus-left {
      width: 40%; }
    #contactus-wrapper #contactus-right {
      margin-left: 10%;
      width: 35%; }

  .training-page-container .training-page-bg {
    height: 360px; }
    .training-page-container .training-page-bg .training-page-caption h1 {
      font-size: 30px;
      line-height: 360px; }
  .training-page-container .trainings-wrapper .training-container .training .training-caption {
    padding: 20px; }
    .training-page-container .trainings-wrapper .training-container .training .training-caption h3 {
      font-size: 16px; }
    .training-page-container .trainings-wrapper .training-container .training .training-caption p {
      font-size: 13px; }
    .training-page-container .trainings-wrapper .training-container .training .training-caption a {
      font-size: 13px;
      height: 35px;
      line-height: 35px; }

  .training-detail-wrap .training-details-bg .training-details-caption h2 {
    font-size: 16px; }
  .training-detail-wrap .training-details-bg .training-details-caption a {
    width: 130px; }
  .training-detail-wrap .training-details {
    padding: 110px 20px 20px 20px; }
    .training-detail-wrap .training-details h3 {
      font-size: 18px; }

  .enroll-cousrse-wrapper {
    width: 60%; }
    .enroll-cousrse-wrapper .enroll-course-header a img {
      width: 90px;
      height: 50px; }
    .enroll-cousrse-wrapper .enroll-course-header a span {
      font-size: 20px; }
    .enroll-cousrse-wrapper .enroll-course-header h2 {
      font-size: 20px; }
    .enroll-cousrse-wrapper .enroll-course-header p {
      font-size: 14px; }

  .solutions-page-wrapper {
    padding: 20px; }
    .solutions-page-wrapper .solutions-page-header h2 {
      font-size: 20px; }
    .solutions-page-wrapper .solutions-page-header p {
      font-size: 13px; }
    .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category {
      width: 48%;
      height: 270px; }
      .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption h3 {
        font-size: 20px; }
      .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption p {
        font-size: 13px; }

  .solutions-details-wrapper .solutions-details-header {
    padding: 20x 40px; }
    .solutions-details-wrapper .solutions-details-header h2 {
      font-size: 16px; }
  .solutions-details-wrapper .solutions-details-body {
    padding: 101px 0 0 0; }
    .solutions-details-wrapper .solutions-details-body .solutions-bg {
      height: 400px; }
      .solutions-details-wrapper .solutions-details-body .solutions-bg h2 {
        line-height: 400px;
        font-size: 40px;
        font-weight: 600; } }
@media screen and (max-width: 550px) {
  .slide-bar-wrapper .slide-bar-content .sidebar-head a {
    font-size: 16px; }
  .slide-bar-wrapper .slide-bar-content .slidebar-link-wrapper .sidebar-links h4 {
    font-size: 16px; }
  .slide-bar-wrapper .slide-bar-content .slidebar-link-wrapper .sidebar-links a p {
    font-size: 12px; }

  #homeCarousel .carousel .carousel-cell {
    height: 300px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption {
      top: 3%;
      padding: 20px 20px 20px 53px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
        font-size: 18px;
        margin-bottom: 0; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
        margin-bottom: 10px;
        font-size: 13px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption a {
        padding: 6px 20px;
        font-size: 11px; }
  #homeCarousel .flickity-prev-next-button {
    width: 30px;
    height: 30px; }
    #homeCarousel .flickity-prev-next-button svg {
      left: 30%;
      top: 30%;
      width: 40%;
      height: 40%; }

  #homeParalaxWrap {
    height: 300px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 55px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        font-size: 16px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption {
      padding: 45px 0; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
        font-weight: 700;
        font-size: 25px; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      padding: 8px 22px;
      font-size: 14px; }

  #topAddsWrap {
    padding: 15px 10px 50px 10px; }
    #topAddsWrap #topAddsHead {
      padding: 0px 0 15px 0; }
      #topAddsWrap #topAddsHead h4 {
        font-size: 20px; }
    #topAddsWrap .carousel .carousel-cell {
      width: 100%;
      height: 250px; }
    #topAddsWrap .flickity-prev-next-button {
      width: 40px;
      height: 40px; }
      #topAddsWrap .flickity-prev-next-button svg {
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%; }

  #footer {
    padding-left: 0; }
    #footer .footer-wrapper .footer-content {
      float: none;
      width: 100%;
      padding: 10px 20px; }
      #footer .footer-wrapper .footer-content h3 {
        font-size: 16px;
        margin-bottom: 10px; }
      #footer .footer-wrapper .footer-content .footer-navs ul li a {
        padding: 5px 4px;
        font-size: 15px; }
    #footer .footer-wrapper .footer-bottom h2 a {
      font-size: 14px; }
    #footer .footer-wrapper .footer-bottom p {
      font-size: 11px; }

  #contactus-wrapper h4 {
    font-size: 20px; }
  #contactus-wrapper #contactus-header h2 {
    font-size: 20px; }
  #contactus-wrapper #contactus-left {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 5%; }
  #contactus-wrapper #contactus-right {
    width: 100%;
    margin: 0; }
    #contactus-wrapper #contactus-right #contactus_call p i {
      font-size: 30px; }
    #contactus-wrapper #contactus-right #contactus_call p a {
      font-size: 15px; }

  .training-page-container .training-page-bg {
    height: 300px; }
    .training-page-container .training-page-bg .training-page-caption h1 {
      font-size: 16px;
      line-height: 300px; }
  .training-page-container .trainings-wrapper h2 {
    font-size: 16px; }
  .training-page-container .trainings-wrapper .training-container .training {
    float: none;
    width: 96%;
    margin: 2%; }
    .training-page-container .trainings-wrapper .training-container .training .training-caption {
      padding: 20px; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption h3 {
        font-size: 16px; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption p {
        font-size: 13px; }
      .training-page-container .trainings-wrapper .training-container .training .training-caption a {
        font-size: 13px;
        height: 35px;
        line-height: 35px; }

  .training-detail-wrap .training-details-bg {
    min-height: 70px; }
    .training-detail-wrap .training-details-bg .training-details-caption {
      padding: 10px; }
      .training-detail-wrap .training-details-bg .training-details-caption h2 {
        display: none; }
      .training-detail-wrap .training-details-bg .training-details-caption a {
        width: 110px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin: 5px; }
  .training-detail-wrap .training-details {
    padding: 100px 10px 10px 10px; }
    .training-detail-wrap .training-details .training-header {
      display: block; }
      .training-detail-wrap .training-details .training-header h2 {
        font-size: 14px; }
    .training-detail-wrap .training-details h3 {
      font-size: 16px; }
    .training-detail-wrap .training-details p {
      font-size: 14px; }

  .enroll-cousrse-wrapper {
    width: 90%; }
    .enroll-cousrse-wrapper .enroll-course-header a img {
      width: 70px;
      height: 40px; }
    .enroll-cousrse-wrapper .enroll-course-header a span {
      font-size: 18px; }
    .enroll-cousrse-wrapper .enroll-course-header h2 {
      font-size: 18px; }
    .enroll-cousrse-wrapper .enroll-course-header p {
      font-size: 13px; }

  .solutions-page-wrapper {
    padding: 10px; }
    .solutions-page-wrapper .solutions-page-header h2 {
      font-size: 18px; }
    .solutions-page-wrapper .solutions-page-header p {
      font-size: 12px; }
    .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category {
      width: 98%;
      height: 250px;
      float: none; }
      .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption h3 {
        font-size: 18px; }
      .solutions-page-wrapper .solutions-page-body .solutions-category-wrapper .solutions-category figcaption p {
        font-size: 12px; }

  .solutions-details-wrapper .solutions-details-header h2 {
    font-size: 16px;
    display: none; }
  .solutions-details-wrapper .solutions-details-header a {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 13px; }
  .solutions-details-wrapper .solutions-details-body {
    padding: 80px 0 0 0; }
    .solutions-details-wrapper .solutions-details-body .solutions-bg {
      height: 300px;
      background-position: 0; }
      .solutions-details-wrapper .solutions-details-body .solutions-bg h2 {
        line-height: 270px;
        font-size: 24px; }
    .solutions-details-wrapper .solutions-details-body .overview {
      padding: 15px; }
    .solutions-details-wrapper .solutions-details-body .verticals {
      padding: 0 15px; } }

/*# sourceMappingURL=style.css.map */
