@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: "Titillium Web";
  display: flex;
  flex-direction: column; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
.activeSstate {
  color: #2EA9CD !important; }

.navBar {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1000; }
  .navBar .nav-settings-menu {
    float: right;
    margin-right: 2%;
    display: none; }
    .navBar .nav-settings-menu a {
      text-decoration: none;
      color: #fff;
      margin-right: 10px; }
      .navBar .nav-settings-menu a:hover {
        color: #2EA9CD; }
      .navBar .nav-settings-menu a i {
        font-size: 20px; }
  .navBar .nav-aside-menu {
    float: left; }
    .navBar .nav-aside-menu #menuBar {
      display: none; }
    .navBar .nav-aside-menu #menuBarClose {
      display: none; }
    .navBar .nav-aside-menu a {
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      line-height: 29px;
      padding: 0 10px; }
  .navBar .nav-links {
    float: right;
    margin-right: 2%; }
    .navBar .nav-links ul {
      margin: 0;
      padding: 0; }
      .navBar .nav-links ul li {
        list-style: none;
        display: inline-block; }
        .navBar .nav-links ul li a {
          text-decoration: none;
          color: #fff;
          margin: 0 10px;
          font-size: 14px; }
          .navBar .nav-links ul li a:hover {
            color: #2EA9CD; }
  .navBar .nav-logo-head {
    float: left;
    display: none; }
    .navBar .nav-logo-head a {
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      margin-left: 10px;
      font-size: 19px; }

.sidebar-container {
  width: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: left;
  position: fixed;
  background-color: #373737;
  text-align: center;
  z-index: 100000; }
  .sidebar-container .sidebar {
    padding: 20px 0; }
    .sidebar-container .sidebar ul {
      margin: 0;
      padding: 0; }
      .sidebar-container .sidebar ul li {
        list-style: none; }
        .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
          text-decoration: none;
          color: #fff;
          display: block;
          padding: 10px;
          font-size: 14px; }
          .sidebar-container .sidebar ul li .slide-link:hover, .sidebar-container .sidebar ul li .responsive-slide-link:hover {
            color: #2EA9CD; }
          .sidebar-container .sidebar ul li .slide-link i, .sidebar-container .sidebar ul li .responsive-slide-link i {
            display: block;
            padding-bottom: 10px;
            font-size: 23px; }
        .sidebar-container .sidebar ul li .responsive-slide-link {
          display: none; }
          .sidebar-container .sidebar ul li .responsive-slide-link i {
            display: block;
            padding-bottom: 10px;
            font-size: 23px; }
        .sidebar-container .sidebar ul li .nav-arrowRight {
          float: right; }
        .sidebar-container .sidebar ul li .close-slideBar {
          text-decoration: none;
          color: #fff;
          display: block;
          padding: 10px;
          font-size: 14px;
          background-color: #212121;
          display: none; }
          .sidebar-container .sidebar ul li .close-slideBar i {
            display: block;
            padding-bottom: 10px;
            font-size: 30px; }

.slide-bar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #141414;
  color: #fff;
  z-index: 10000;
  display: none;
  padding: 3% 3% 3% 13%;
  overflow: scroll; }
  .slide-bar-wrapper .sidebar-head {
    margin-bottom: 30px; }
    .slide-bar-wrapper .sidebar-head a {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 18px;
      color: #fff;
      text-decoration: none; }
      .slide-bar-wrapper .sidebar-head a:hover {
        color: #2EA9CD; }
      .slide-bar-wrapper .sidebar-head a i {
        font-weight: 800; }
  .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links {
    width: 20%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%; }
    .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links h4 {
      font-weight: 400;
      font-size: 18px; }
    .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links ul {
      padding: 10px 0; }
      .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links ul li {
        list-style: none; }
        .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links ul li a {
          text-decoration: none;
          color: #d7d7d7;
          font-weight: 300;
          font-size: 15px; }
          .slide-bar-wrapper .slidebar-link-wrapper .sidebar-links ul li a:hover {
            color: #2EA9CD; }

.current {
  display: block !important; }

.current2 {
  display: block !important; }

.close-responsiveTab {
  display: none; }

#View {
  padding: 41px 0px 0px 10%;
  flex: 1 0 auto; }

#footer {
  padding-left: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #373737; }
  #footer .footer-wrapper {
    border-bottom: 5px solid #2EA9CD; }
    #footer .footer-wrapper .footer-content {
      width: 40%;
      float: left;
      padding: 20px; }
      #footer .footer-wrapper .footer-content h3 {
        color: #2EA9CD;
        font-size: 17px;
        margin-bottom: 20px;
        font-weight: 500; }
      #footer .footer-wrapper .footer-content .footer-navs ul li {
        list-style: none;
        display: inline-block; }
        #footer .footer-wrapper .footer-content .footer-navs ul li a {
          text-decoration: none;
          padding: 8px 4px;
          color: #fff;
          font-weight: 300;
          font-size: 16px;
          display: inline-block; }
          #footer .footer-wrapper .footer-content .footer-navs ul li a:hover {
            color: #2EA9CD; }
      #footer .footer-wrapper .footer-content .social-media-icons ul li {
        list-style: none;
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 8px 8px 0px; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li a {
          text-decoration: none;
          color: #fff;
          height: 40px;
          width: 40px;
          background-color: black;
          display: inline-block;
          vertical-align: 90px;
          border-radius: 50%;
          transition: 0.5s; }
          #footer .footer-wrapper .footer-content .social-media-icons ul li a i {
            display: block;
            text-align: center;
            line-height: 40px; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #facebook-icon:hover {
          background-color: #3b5998; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #twitter-icon:hover {
          background-color: #1b95e0; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #linkedin-icon:hover {
          background-color: #283e4a; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #google-icon:hover {
          background-color: #d34836; }
        #footer .footer-wrapper .footer-content .social-media-icons ul li #youtube-icon:hover {
          background-color: #c4302b; }
  #footer .footer-bottom {
    padding: 20px; }
    #footer .footer-bottom .company-logo h2 {
      margin-bottom: 20px; }
      #footer .footer-bottom .company-logo h2 a {
        text-decoration: none;
        color: #fff; }
    #footer .footer-bottom .company-logo p {
      color: #2EA9CD;
      font-weight: 400;
      font-size: 14px; }

#homeCarousel .carousel {
  background: #EEE; }
  #homeCarousel .carousel .carousel-cell {
    width: 100%;
    height: 500px;
    margin-right: 10px;
    background: #000; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-img {
      width: 100%;
      height: 100%;
      opacity: .7; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-img img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption {
      position: absolute;
      top: 10%;
      padding: 20px 20px 20px 100px;
      color: #fff;
      width: 100%; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
        font-size: 16px;
        margin-bottom: 15px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption a {
        text-decoration: none;
        color: #fff;
        background-color: #2EA9CD;
        padding: 8px 20px;
        border-radius: 3px;
        font-size: 13px;
        display: inline-block;
        cursor: pointer; }
        #homeCarousel .carousel .carousel-cell .home-carouesl-caption a:hover {
          background-color: #1B96BA; }

#homeParalaxWrap {
  height: 500px;
  text-align: center;
  color: #fff;
  border-top: 7px solid #1B96BA; }
  #homeParalaxWrap #homeParalaxImage {
    background-image: url(http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961655/ml_pictogram_lvzd5u.png);
    background-color: #1B96BA;
    background-blend-mode: multiply;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 95px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption {
      padding: 70px 0; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
        font-size: 35px;
        font-weight: 700; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      color: #fff;
      text-decoration: none;
      background-color: #2EA9CD;
      padding: 8px 32px;
      font-size: 14px;
      border-radius: 2px; }

.trainingCapt {
  display: none; }

.currentTraining {
  display: block; }

#topAddsWrap {
  padding: 0 10px 70px; }
  #topAddsWrap #topAddsHead {
    padding: 20px 0; }
    #topAddsWrap #topAddsHead h4 {
      font-size: 25px;
      font-weight: 500; }
  #topAddsWrap .carousel {
    background: #FAFAFA; }
    #topAddsWrap .carousel .carousel-cell {
      width: 40%;
      height: 300px;
      margin-right: 10px;
      background: #1B96BA;
      border-radius: 5px; }
      #topAddsWrap .carousel .carousel-cell .carouselCourseImage {
        width: 100%;
        height: 100%; }
        #topAddsWrap .carousel .carousel-cell .carouselCourseImage img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: fill; }
      #topAddsWrap .carousel .carousel-cell .carouselAnchor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }

@media screen and (max-width: 1025px) {
  .sidebar-container {
    width: 12%; }
    .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
      font-size: 12px; }
      .sidebar-container .sidebar ul li .slide-link i, .sidebar-container .sidebar ul li .responsive-slide-link i {
        font-size: 18px; }

  .slide-bar-wrapper {
    padding: 3% 3% 3% 15%; }

  #View {
    padding: 41px 0px 0px 12%; } }
@media screen and (max-width: 850px) {
  .navBar .nav-logo-head {
    display: block; }
    .navBar .nav-logo-head a {
      font-size: 18px; }
  .navBar .nav-aside-menu a i {
    font-size: 29px; }
  .navBar .nav-aside-menu #menuBar {
    display: inline-block; }
  .navBar .nav-aside-menu #menuBar i {
    font-size: 30px; }
  .navBar .nav-settings-menu {
    display: block; }
    .navBar .nav-settings-menu a i {
      font-size: 24px; }
    .navBar .nav-settings-menu #settingsMenu {
      display: block; }
    .navBar .nav-settings-menu #settingsMenuClose {
      display: none; }
  .navBar .nav-links {
    background-color: #fff;
    position: absolute;
    right: 5px;
    top: 50.25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 10px;
    display: none; }
    .navBar .nav-links ul li {
      display: block; }
      .navBar .nav-links ul li a {
        color: #000; }

  .sidebar-container {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    bottom: inherit;
    margin-top: 47px;
    z-index: 3000;
    display: none; }
    .sidebar-container .sidebar ul li .slide-link, .sidebar-container .sidebar ul li .responsive-slide-link {
      display: none; }
    .sidebar-container .sidebar ul li .responsive-slide-link {
      display: block; }
      .sidebar-container .sidebar ul li .responsive-slide-link i {
        display: inline-block;
        padding-right: 10px;
        font-size: 16px; }

  .slide-bar-wrapper {
    padding: 3% 4%; }
    .slide-bar-wrapper .slide-bar-content .sidebar-head .close-responsiveTab {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px; }
      .slide-bar-wrapper .slide-bar-content .sidebar-head .close-responsiveTab i {
        font-size: 30px; }
    .slide-bar-wrapper .slide-bar-content .slidebar-link-wrapper .sidebar-links {
      float: none;
      width: 100%; }

  .current3 {
    display: block; }

  #View {
    padding-left: 0; }

  #homeCarousel .carousel .carousel-cell {
    height: 400px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
      font-size: 21px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
      font-size: 14px; }

  #homeParalaxWrap {
    height: 400px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 75px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        font-size: 18px;
        font-weight: 500; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
      font-size: 16px; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      padding: 7px 18px;
      font-size: 11px; }

  #topAddsWrap .carousel .carousel-cell {
    width: 60%; }

  #footer {
    padding-left: 0; }
    #footer .footer-wrapper .footer-content {
      width: 50%; } }
@media screen and (max-width: 550px) {
  #homeCarousel .carousel .carousel-cell {
    height: 300px; }
    #homeCarousel .carousel .carousel-cell .home-carouesl-caption {
      top: 3%;
      padding: 20px 20px 20px 53px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption h2 {
        font-size: 18px;
        margin-bottom: 0; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption p {
        margin-bottom: 10px;
        font-size: 13px; }
      #homeCarousel .carousel .carousel-cell .home-carouesl-caption a {
        padding: 6px 20px;
        font-size: 11px; }
  #homeCarousel .flickity-prev-next-button {
    width: 30px;
    height: 30px; }
    #homeCarousel .flickity-prev-next-button svg {
      left: 30%;
      top: 30%;
      width: 40%;
      height: 40%; }

  #homeParalaxWrap {
    height: 300px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxHead {
      padding-top: 55px; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxHead h3 {
        font-size: 16px; }
    #homeParalaxWrap #homeParalaxImage #homeParalaxcaption {
      padding: 45px 0; }
      #homeParalaxWrap #homeParalaxImage #homeParalaxcaption h2 {
        font-weight: 700;
        font-size: 25px; }
    #homeParalaxWrap #homeParalaxImage #home-start-nowbtn a {
      padding: 8px 22px;
      font-size: 14px; }

  #topAddsWrap {
    padding: 15px 10px 50px 10px; }
    #topAddsWrap #topAddsHead {
      padding: 0px 0 15px 0; }
      #topAddsWrap #topAddsHead h4 {
        font-size: 20px; }
    #topAddsWrap .carousel .carousel-cell {
      width: 100%; }
    #topAddsWrap .flickity-prev-next-button {
      width: 40px;
      height: 40px; }
      #topAddsWrap .flickity-prev-next-button svg {
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%; }

  #footer {
    padding-left: 0; }
    #footer .footer-wrapper .footer-content {
      float: none;
      width: 100%;
      padding: 10px 20px; }
      #footer .footer-wrapper .footer-content h3 {
        font-size: 16px;
        margin-bottom: 10px; }
      #footer .footer-wrapper .footer-content .footer-navs ul li a {
        padding: 5px 4px;
        font-size: 15px; }
    #footer .footer-wrapper .footer-bottom h2 a {
      font-size: 14px; }
    #footer .footer-wrapper .footer-bottom p {
      font-size: 11px; } }

/*# sourceMappingURL=style.css.map */
