<div class="footer-wrapper clearfix">
    <div class="footer-content">
        <div class="footer-navs">
            <h3>See also</h3>
            <ul>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Privacy</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-content">
        <div class="social-media-icons clearfix">
            <h3>Social Media</h3>
            <ul class="clearfix">
                <li><a id="facebook-icon" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a id="twitter-icon" href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a id="linkedin-icon" href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a id="google-icon" href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                <li><a id="youtube-icon" href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>


<div class="footer-bottom clearfix">
    <div class="company-logo"> 
        <h2>
            <a href="#/">Virgin Field</a>
        </h2>
        <p>
            <span><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Virgin Field, Inc</span>
        </p>
    </div>
</div>