<div id="homeParalaxImage">
        <div id="homeParalaxHead">
            <h3>We Offer Professional Training In</h3>
        </div>
        <div id="homeParalaxcaption">
            <h2 class="currentTraining trainingCapt animated bounceInDown">Cloud Solutions from VMware</h2>
            <h2 class="trainingCapt animated bounceInDown">AWS and Microsoft</h2>
            <h2 class="trainingCapt animated bounceInDown">IoT</h2>
            <h2 class="trainingCapt animated bounceInDown">Big Data Analytics</h2>
            <h2 class="trainingCapt animated bounceInDown">Node.JS</h2>
            <h2 class="trainingCapt animated bounceInDown">Visual Studio</h2>
            <h2 class="trainingCapt animated bounceInDown">Java Scripts</h2>
        </div>
        <div id="home-start-nowbtn">
            <a href="">Start Training</a>
        </div>
    </div>