    <div class="wrapper"> 
           <a href="#/" id="sliderHeader">Virgin<span>Field</span></a>
           
       <img class="next" width="5%" src="assets/img/arrow_right.svg" alt="Next" style="display: none;" /> <img class="prev" width="5%" src="assets/img/arrow_left.svg" alt="Previous" style="display: none;"/>
        <div class="slides">
           
            
            <div class="slide">
                <figure> <img src="assets/img/artificial-intelligence.jpg" />
                    <figcaption>
                        <h2>Artificial Interligence</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="assets/img/IoT.jpg" />
                    <figcaption>
                        <h2>Internet Of Things</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="assets/img/bigdataanalysis.jpg" />
                    <figcaption>
                        <h2>Big Data Analytics</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="assets/img/machineLearning.jpg" />
                    <figcaption>
                        <h2>Machine Learning</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            
        </div>
    </div>