    <div class="wrapper"> 
           <a href="#/" id="sliderHeader">Virgin <span>Fields</span></a>
           
       <img class="next" width="5%" src="assets/img/arrow_right.svg" alt="Next" style="display: none;" /> <img class="prev" width="5%" src="assets/img/arrow_left.svg" alt="Previous" style="display: none;"/>
        <div class="slides">
           
            
            <div class="slide">
                <figure> <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961645/artificial-intelligence_admvv9.jpg" />
                    <figcaption>
                        <h2>Artificial Interligence</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498962016/maxresdefault_g2kdxy.jpg" />
                    <figcaption>
                        <h2>Internet Of Things</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961630/bigdataanalysis_yabwu3.jpg" />
                    <figcaption>
                        <h2>Big Data Analytics</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="slide">
                <figure> <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961632/machineLearning_owkrk6.jpg" />
                    <figcaption>
                        <h2>Machine Learning</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
                        <a href="">learn more</a>
                    </figcaption>
                </figure>
            </div>
            
        </div>
    </div>