
<div class="carousel">
 
  <div class="carousel-cell">
      <div class="home-carouesl-img">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961645/artificial-intelligence_admvv9.jpg"/>
      </div>
      <div class="home-carouesl-caption">
          <h2>Artificial Interligence</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
          <a href="">learn more</a>
      </div>
  </div>
  
  <div class="carousel-cell">
      <div class="home-carouesl-img">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498962016/maxresdefault_g2kdxy.jpg"/>
      </div>
      <div class="home-carouesl-caption">
          <h2>Internet Of Things</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
          <a href="">learn more</a>
      </div>
  </div>
  
  <div class="carousel-cell">
      <div class="home-carouesl-img">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961630/bigdataanalysis_yabwu3.jpg"/>
      </div>
      <div class="home-carouesl-caption">
          <h2>Big Data Analytics</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
          <a href="">learn more</a>
      </div>
  </div>
  
  <div class="carousel-cell">
      <div class="home-carouesl-img">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961632/machineLearning_owkrk6.jpg"/>
      </div>
      <div class="home-carouesl-caption">
          <h2>Machine Learning</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, at.</p>
          <a href="">learn more</a>
      </div>
  </div>

  
</div>