<nav class="navBar">
   
    <div class="nav-settings-menu">
        <a href="javascript:void(0)" id="settingsMenu"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <a href="javascript:void(0)" id="settingsMenuClose"><i class="fa fa-close" aria-hidden="true"></i></a>
    </div>
    
    <div class="nav-aside-menu">
        <a href="javascript:void(0)" id="menuBar"><i class="fa fa-bars"></i></a>
        <a href="javascript:void(0)" id="menuBarClose"><i class="fa fa-close"></i></a>
    </div>
    <div class="nav-search">
       <a href="javascript:void(0)" id="searchEnginePul"><i class="fa fa-search"></i></a>
       <a href="javascript:void(0)" id="searchEngineClose"><i class="fa fa-close"></i></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a ui-sref="root" ui-sref-active="activeSstate">Home</a></li>
            <li><a ui-sref="login" ui-sref-active="activeSstate">Login</a></li>
            <li><a ui-sref="training" ui-sref-active="activeSstate">Training</a></li>
            <li><a ui-sref="market" ui-sref-active="activeSstate">Market Place</a></li>
            <li><a ui-sref="community" ui-sref-active="activeSstate">Developer Community</a></li>
            <li><a ui-sref="store" ui-sref-active="activeSstate">Store</a></li>
        </ul>
    </div>
    
       <div class="nav-logo-head">
        <a href="#/">Virgin Fields</a>
    </div>
    
</nav>