<div class="carousel">
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/Advance_Big_Data_Science.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/iot-training.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/cloud-solutions.jpg" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/aws.jpg" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/node-js-development.jpg" alt="">
      </div>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="assets/img/js.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
</div>