<div class="carousel">
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961651/Advance_Big_Data_Science_xifg69.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961629/iot-training_ftpfeh.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961626/cloud-solutions_py3yzm.jpg" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961626/aws_fez23m.jpg" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961653/node-js-development_ryfxbf.jpg" alt="">
      </div>
  </div>
  <div class="carousel-cell">
      <div class="carouselCourseImage">
          <img src="http://res.cloudinary.com/hvwqgvdi9/image/upload/v1498961635/js_pfasxt.png" alt="">
      </div>
      <a href="#" class="carouselAnchor"></a>
  </div>
</div>